.bottom-shape {
    width: 100vw;
    height: 30vh;
    background: $theme-gradient;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 0px 50px 0px 0px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 10%;
    box-sizing: border-box;
}

.bottom-shape h2 {
    @include h2-section-title-white;
}