.menu-wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 90vw;
  height: 80vh;
  top: 0;
  left: 0;
  z-index: 1;
}

.menu-buttons {
  display: flex;
  flex-direction: column;
  width: 10vw;
  height: 4vh;
  justify-content: space-evenly;
  align-items: flex-end;
  margin: 10% 10% 0 0;
  z-index: 5;
  pointer-events: all !important;
}

.menu-buttons .bar {
  height: 3px;
  min-width: 50%;
  border-radius: 5px;
  background: $theme-brown;
}

.menu-buttons .bar.bar-2 {
  width: 100%;
}

.menu-buttons .bar.bar-1, .menu-buttons .bar.bar-3 {
  width: 60%;
}

.menu-buttons.show {
  opacity: 1;
  transition: all 1s;
  transition-timing-function: cubic-bezier(1, 0, 0, 1);
}

.menu-buttons.hide {
  opacity: 0;
  transition: all 1s;
  transition-timing-function: cubic-bezier(1, 0, 0, 1);
}

.close-menu {
  z-index: 5;
  position: absolute;
  margin: 10% 10% 0 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 10vw;
  height: 4vh;
}

.close-menu svg {
  color: $theme-brown;
  height: 100%;
  width: 50%;
}

.close-menu.show {
  opacity: 1;
  transition: all 1s;
  transition-timing-function: cubic-bezier(1, 0, 0, 1);
}

.close-menu.hide {
  opacity: 0;
  transition: all 1s;
  transition-timing-function: cubic-bezier(1, 0, 0, 1);
}

.page-link-wrapper {
  position: relative;
}

.page-links {
  width: 0vw;
  height: 80vh;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 0px 0px 50px 0px;
  background-color: $base-white;
  flex-direction: column;
  padding: 40% 10%;
  box-sizing: border-box;
  justify-content: space-between;
  display: flex;
  opacity: 0;
  transition: none;
}

.page-links.show {
  width: 90vw;
  opacity: 1;
  transition: all 1s;
  transition-timing-function: cubic-bezier(1, 0, 0, 1);
}

.page-links.hide {
  width: 0vw;
  opacity: 0;
  transition: all 1s;
  transition-timing-function: cubic-bezier(1, 0, 0, 1);
}

.page-links li {
  @include menu-link;
  margin: 5px 0;
}

.page-links div:first-child {
 display: flex;
 flex-direction: column;
}

.menu-center {
  background: $base-white;
  border: 1px solid $base-black;
  width: 100%;
  height: 50px;
  border-radius: 8px;
  outline: none;
  padding: 3% 6%;
  box-sizing: border-box;
  font-size: 0.9em;
  display: flex;
  align-items: center;
  padding-left: 10%;
}

.menu-center svg {
  font-size: 0.8em;
  color: $med-grey;
}

input.menu-search-item {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  padding-left: 10px;
}

.menu-bottom svg {
  font-size: 2em;
  margin-right: 10px;
}

.cursor-ev-false {
  pointer-events: none;
}

.cursor-ev-true {
  pointer-events: all;
}